<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col-md-4">
        <h4>United Arab Emirates</h4>
        Office 4,
            Al Muhairi Building <br>
            Al Bada, Dubai<br>
            P.O Box: 36023<br>
Tel: +971 4 2369096<br>
Fax: +971 4 2369096<br>
E-mail: feda@fidelity4all.com<br>
    </div>
    <div class="col-md-4">
        <h4>United Kingdom</h4>
        Clarendon Business Center <br>
                    42 Upper Berkeley street<br>
                    Marble Arch,
                    London, W1H 5PW<br>
        Tel: +44 7 459946165<br>
        Fax: +44 7 459946165<br>
        E-mail: feda@fidelity4all.com<br>
    </div>
    <div class="col-md-4">
      social icons
    </div>
  </div>
  </div>
</div>
