
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <!-- Title -->
    <title> Fidelity4All is an independent firm founded by experienced consultants with tens of years of experience in the fields of management, training, and human resources.</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/fevicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/mystyle.css" | prepend: site.baseurl }}">

</head>
